body{
  font-family: 'Lily Script One', cursive;
  background: rgb(255, 250, 136);
}



table{
	margin-left:auto;
	margin-right: auto;

}


th {
  text-align: left;
}
td {
	width: 25px;
	height:25px;
	border: 5px solid black;
}
.score{
  display: inline;
  margin: 33px;
}

.main_header{
  font-size: 75px;
  text-align: center;
}


.head1{
  display: inline;
  margin: 113px;
}
.head2{
  display: inline;
  margin: 113px;
}

.start {
text-decoration: none;
padding: 19px 121px;
background: rgb(248, 198, 69);
color: white;
border-radius: 11px;
font-size: 35px;
}



.container {
  text-align:center;
  margin: 20px auto;
  width: 850px;
  padding: 0px 20px 20px 20px;

}

.active1 {
	background: red;
}
.active2 {
	background: blue;
}
.point{
	background: orange;
}
.player1score{
	background: red;
}
.player2score{
	background: blue;
}