.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
td {
	width: 25px;
	height:25px;
	border: 5px solid black;
}
.active1 {
	background: red;
}
.active2 {
	background: blue;
}
.point{
	background: orange;
}
.player1score{
	background: red;
}
.player2score{
	background: blue;
}