

<div class="container">
  <h1 class="main_header">Gold Rush</h1>
  <a href= '/game1' class="start">player 1</a>
  <a href='/game2' class="start">player 2</a>
  <button type="button" id="reset">Reset Game</button>
</div>